{{ define "nav" }}
        <div id="nav" class="bg-gray-800 text-white p-4">
            <p>
                <a href="/gosi" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                    Home
                </a>
                <a href="/gosi/views/projects" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                    Projects
                </a>
                <a href="/gosi/login" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                    Login
                </a>

            </p>
    </div>
    {{ end }}
