package home

import "gopt/public/layouts"

templ Home(contentOnly bool) {
	if contentOnly {
		@homeContent()
	} else {
		@layout.PageAll("Home XXX") {
			@homeContent()
		}
	}
}

templ homeContent() {
	<p class="text-center text-xl font-medium">
		Welcome to G-OSI
		<a
			href="/gopt/logout"
			class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
		>
			LOGOUT
		</a>
	</p>
}
