{{ define "nav" }}
        <div class="bg-gray-800 text-white p-4">
            <label id="title" class="block text-xl font-medium text-white mx-6 my-6">{{ .title }}</label>
            <img class="w-auto h-auto absolute right-0 top-0 mx-6" src="/public/static/95px-Buggie.png" alt="BUG">
            <p>
                <a href="/gosi" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                    Home
                </a>
                <a href="/gosi/pages/project" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                    Projects
                </a>
            </p>
    </div>
    {{ end }}
